/**
 * sivart-ci v0.1.0
 *
 * A simple interactive CI Dashboard built on MEAN stack.
 *
 * Author: Kushal Pandya <kushalspandya@gmail.com> (https://doublslash.com)
 * Date: 28 November, 2015
 *
 * Sivart Main Stylesheet.
 */

@import "compass";
@import "compass/css3";
@import "util/Mixins";
@import "util/Colors";

@import "widgets/SimpleSidebar";
@import "widgets/StepBar";
@import "widgets/CSSPieCharts";

body {
    background-color: $ceramic_white;
}

.changelist {
    width: 100%;
    margin-top: 20px;
    padding-left: 0;

    .list-header,
    .list-item {

        .changelist-prop {
            background: white;
        }

        .changelist-title {
            width: 15%;
        }

        .changelist-owner,
        .changelist-status {
            width: 12.5%;
        }

        .changelist-timestart {
            width: 15%;
        }
    }

    .list-empty {

        .changelist-empty {
            width: 100%;
            padding: 10px 12px;
            text-align: center;
            background: white;
            color: #999;
        }
    }

    .list-header {
        border-color: $gray;
        border-style: solid;
        border-width: 2px 2px 1px 6px;

        .changelist-prop {
            padding: 10px 12px;
            font-weight: bold;
            text-align: center;
            color: #6D6D6D;
        }

        .changelist-build,
        .changelist-unittest,
        .changelist-functionaltest {
            width: 15%;
        }
    }

    .list-item {

        @mixin highlight-style($color: transparent) {
            border-left: 6px solid $color;

            .changelist-prop.changelist-status {
                color: $color;
            }
        }

        &.item-pass,
        &.item-fail {
            &:hover {
                cursor: pointer;

                .changelist-prop {
                    background-color: #F9F9F9;
                }
            }
        }

        &.expanded {
            border-top: 3px solid;

            &.item-pass {
                border-color: $status_pass;
                border-left-color: $gray;
            }

            &.item-fail {
                border-color: $status_fail;
                border-left-color: $gray;
            }

            .short-message {
                display: none;
            }

            .long-message {
                display: block;
                font-size: 22px;
            }

            .changelist-status {
                background-color: #F7F7F7;
                border-top: 2px solid $light_gray;
                border-left: 2px solid $light_gray;
            }

            &.item-pass,
            &.item-fail {
                &:hover {
                    .changelist-prop.changelist-status {
                        background-color: #F7F7F7;
                    }
                }
            }
        }

        &.item-pending {
            @include highlight-style($status_pending);
        }

        &.item-active {
            @include highlight-style($status_active);

            .changelist-status .short-message {
                .glyphicon {
                    animation: active-spin 1s infinite;
                }
            }
        }

        &.item-pass {
            @include highlight-style($status_pass);
        }

        &.item-fail {
            @include highlight-style($status_fail);
        }

        .long-message {
            display: none;
        }

        .changelist-prop {
            height: 65px;
            text-align: center;
            font-size: 12px;
            color: $dark_gray;

            &.changelist-timestart {
                padding-left: 0;
                padding-right: 0;
            }

            &.changelist-build-progress {
                padding: 15px 0 0 6%;
            }

            .glyphicon {
                margin: 0 5px;
            }
        }

        .changelist-build-progress {
            width: 45%;
        }
    }

    .list-item-seperator {
        height: 1px;
        background-color: $gray;
    }

    .list-item-details {
        border-left: 6px solid $gray;

        .changelist-details {
            display: none;
            height: 110px;
            width: 100%;
            background: white;
            border-top: 1px solid $gray;
        }
    }
}

.changelist {

    .list-item-details {

        .details-field {
            display: inline-block;
            float: left;
            height: 100%;
            color: $dark_gray;
        }

        .build-status {
            width: 10%;
            padding: 20px 5px;
            font-size: 12px;

            > span {
                display: block;
                text-align: center;

                &.status-message {
                    padding-left: 15px;
                }

                &.status-time {
                    margin-top: 10px;
                }

                .glyphicon {
                    margin: 0 5px;
                }
            }
        }

        .build-directories {
            width: 15%;
            padding: 20px 10px;

            .directory-build,
            .directory-release {
                display: inline-block;

                > .glyphicon {
                    display: block;
                    font-size: 36px;
                    color: $status_pass;
                }

                a {
                    display: block;
                    margin-top: 3px;
                    text-align: center;
                    font-size: 12px;
                }
            }

            .directory-build {
                float: left;
            }

            .directory-release {
                float: right;

                > .glyphicon {
                    margin: 0 5px;
                }
            }
        }

        .build-ut-status,
        .build-ft-status {
            width: 32%;
            padding: 18px 0;

            .test-meta,
            .css-pie,
            .chart-legend {
                display: inline-block;
                float: left;
            }

            .test-meta {
                width: 45%;

                .test-status {
                    display: block;

                    .glyphicon {
                        margin: 0 5px;
                    }
                }

                .test-score {
                    font-size: 22px;
                    font-weight: bold;
                }

                .test-reason {
                    float: left;

                    .cause-message {
                        color: $status_fail;
                        font-size: 16px;
                        font-weight: bold;
                    }
                }
            }

            .css-pie {
                width: 70px;
                line-height: 70px;
            }

            .chart-legend {
                width: 15%;
                padding: 0;
                margin-left: 20px;
                list-style-type: none;

                .total-tests,
                .failed-tests {
                    position: relative;
                }

                .total-tests:before,
                .failed-tests:before {
                    content: '';
                    position: absolute;
                    display: inline-block;
                    top: 8px;
                    left: -10px;
                    height: 6px;
                    width: 6px;
                }

                .total-tests:before {
                    background-color: $status_pass;
                }

                .failed-tests:before {
                    background-color: $status_pending;
                }

                .test-duration:before {
                    margin-left: -14px;
                    margin-right: 2px;
                }
            }
        }

        .build-seperator {
            width: 5%;

            .glyphicon {
                padding: 0 10px;
                font-size: 20px;
                line-height: 105px;
            }
        }

        &.item-fail {

            .build-status .status-message .glyphicon,
            .build-directories .directory-release > .glyphicon,
            .test-meta .test-status > .glyphicon,
            .test-meta .test-score {
                color: $status_fail;
            }
        }

        &.item-pass {

            .build-status .status-message .glyphicon,
            .test-meta .test-status > .glyphicon,
            .test-meta .test-score {
                color: $status_pass;
            }
        }
    }
}

.author-info {
    list-style: none;
    padding: 0;

    .author {
        font-size: 14px;
        color: $gray;
    }

    .author-title {
        font-size: 20px;
    }

    .author-designation {
        font-size: 16px;
    }

    .author-links {
        font-size: 14px;
    }
}
