/**
 * sivart-ci v0.1.0
 *
 * A simple interactive CI Dashboard built on MEAN stack.
 *
 * Author: Kushal Pandya <kushalspandya@gmail.com> (https://doublslash.com)
 * Date: 28 November, 2015
 *
 * Sivart Colors.
 */

$blue_1: #11538C;
$blue_2: #165F8C;
$blue_3: #049DBF;
$blue_4: #04ADBF;
$ceramic_white: #F2EDE4;

$gray: #D2D2D2;
$light_gray: #E4E4E7;
$dark_gray: #989898;

$status_pending: #F8AC59;
$status_active: #1C84C6;
$status_pass: #1AB394;
$status_fail: #ED5565;
