/**
 * sivart-ci v0.1.0
 *
 * A simple interactive CI Dashboard built on MEAN stack.
 *
 * Author: Kushal Pandya <kushalspandya@gmail.com> (https://doublslash.com)
 * Date: 28 November, 2015
 *
 * Step Bar Progress Bar for Bootstrap.
 */

@import "compass";
@import "compass/css3";
@import "../util/Mixins";
@import "../util/Colors";

$glyphicon-pending: "\e234";
$glyphicon-active: "\e031";
$glyphicon-pass: "\e013";
$glyphicon-fail: "\e101";

$light_gray: #E4E4E7;
$status_pending: #F8AC59;
$status_active: #1C84C6;
$status_pass: #1AB394;
$status_fail: #ED5565;

$glyphicon-pending: "\e234";
$glyphicon-active: "\e031";
$glyphicon-pass: "\e013";
$glyphicon-fail: "\e101";

@keyframes active-spin {
    0% {transform: rotate(0deg);}
    10% {transform: rotate(36deg);}
    20% {transform: rotate(72deg);}
    30% {transform: rotate(108deg);}
    40% {transform: rotate(144deg);}
    50% {transform: rotate(180deg);}
    60% {transform: rotate(216deg);}
    70% {transform: rotate(252deg);}
    80% {transform: rotate(288deg);}
    90% {transform: rotate(324deg);}
    100% {transform: rotate(360deg);}
}

.stepbar-progress {
    width: 100%;
    height: 32px;
    border-collapse: collapse;

    .step-item {
        width: 32px;

        .step-body {
            position: relative;
            display: block;
            width: 32px;
            height: 32px;
            background-color: $light_gray;
            border: 5px solid $light_gray;

            @include border-radius(50%);

            .glyphicon:before {
                color: white;
                margin: auto 4px 0 4px;
                line-height: 20px;
            }
        }
    }

    .step-item-progress {
        width: 50%;

        .progress-body {
            display: block;
            height: 11px;
            background-color: $light_gray;
            border-top: 3px solid $light_gray;
            border-bottom: 3px solid $light_gray;

            background-image: -webkit-linear-gradient(
                                -45deg,
                                rgba(255, 255, 255, 0.2) 0%, transparent 5%,
                                rgba(255, 255, 255, 0.2) 10%, transparent 15%,
                                rgba(255, 255, 255, 0.2) 20%, transparent 25%,
                                rgba(255, 255, 255, 0.2) 30%, transparent 35%,
                                rgba(255, 255, 255, 0.2) 40%, transparent 45%,
                                rgba(255, 255, 255, 0.2) 50%, transparent 55%,
                                rgba(255, 255, 255, 0.2) 60%, transparent 65%,
                                rgba(255, 255, 255, 0.2) 70%, transparent 75%,
                                rgba(255, 255, 255, 0.2) 80%, transparent 85%,
                                rgba(255, 255, 255, 0.2) 90%, transparent 95%,
                                rgba(255, 255, 255, 0.2) 100%
                              );

            background-image: -moz-linear-gradient(
                                -45deg,
                                rgba(255, 255, 255, 0.2) 0%, transparent 5%,
                                rgba(255, 255, 255, 0.2) 10%, transparent 15%,
                                rgba(255, 255, 255, 0.2) 20%, transparent 25%,
                                rgba(255, 255, 255, 0.2) 30%, transparent 35%,
                                rgba(255, 255, 255, 0.2) 40%, transparent 45%,
                                rgba(255, 255, 255, 0.2) 50%, transparent 55%,
                                rgba(255, 255, 255, 0.2) 60%, transparent 65%,
                                rgba(255, 255, 255, 0.2) 70%, transparent 75%,
                                rgba(255, 255, 255, 0.2) 80%, transparent 85%,
                                rgba(255, 255, 255, 0.2) 90%, transparent 95%,
                                rgba(255, 255, 255, 0.2) 100%
                              );

            background-image: -ms-linear-gradient(
                                -45deg,
                                rgba(255, 255, 255, 0.2) 0%, transparent 5%,
                                rgba(255, 255, 255, 0.2) 10%, transparent 15%,
                                rgba(255, 255, 255, 0.2) 20%, transparent 25%,
                                rgba(255, 255, 255, 0.2) 30%, transparent 35%,
                                rgba(255, 255, 255, 0.2) 40%, transparent 45%,
                                rgba(255, 255, 255, 0.2) 50%, transparent 55%,
                                rgba(255, 255, 255, 0.2) 60%, transparent 65%,
                                rgba(255, 255, 255, 0.2) 70%, transparent 75%,
                                rgba(255, 255, 255, 0.2) 80%, transparent 85%,
                                rgba(255, 255, 255, 0.2) 90%, transparent 95%,
                                rgba(255, 255, 255, 0.2) 100%
                              );

            background-image: -o-linear-gradient(
                                -45deg,
                                rgba(255, 255, 255, 0.2) 0%, transparent 5%,
                                rgba(255, 255, 255, 0.2) 10%, transparent 15%,
                                rgba(255, 255, 255, 0.2) 20%, transparent 25%,
                                rgba(255, 255, 255, 0.2) 30%, transparent 35%,
                                rgba(255, 255, 255, 0.2) 40%, transparent 45%,
                                rgba(255, 255, 255, 0.2) 50%, transparent 55%,
                                rgba(255, 255, 255, 0.2) 60%, transparent 65%,
                                rgba(255, 255, 255, 0.2) 70%, transparent 75%,
                                rgba(255, 255, 255, 0.2) 80%, transparent 85%,
                                rgba(255, 255, 255, 0.2) 90%, transparent 95%,
                                rgba(255, 255, 255, 0.2) 100%
                              );

            background-image: linear-gradient(
                                -45deg,
                                rgba(255, 255, 255, 0.2) 0%, transparent 5%,
                                rgba(255, 255, 255, 0.2) 10%, transparent 15%,
                                rgba(255, 255, 255, 0.2) 20%, transparent 25%,
                                rgba(255, 255, 255, 0.2) 30%, transparent 35%,
                                rgba(255, 255, 255, 0.2) 40%, transparent 45%,
                                rgba(255, 255, 255, 0.2) 50%, transparent 55%,
                                rgba(255, 255, 255, 0.2) 60%, transparent 65%,
                                rgba(255, 255, 255, 0.2) 70%, transparent 75%,
                                rgba(255, 255, 255, 0.2) 80%, transparent 85%,
                                rgba(255, 255, 255, 0.2) 90%, transparent 95%,
                                rgba(255, 255, 255, 0.2) 100%
                              );

            @include transition(all, 1s, ease);
        }
    }

    .step-item-first .step-body:after,
    .step-item-middle .step-body:after,
    .step-item-middle .step-body:before,
    .step-item-last .step-body:before {
        content: " ";
        position: absolute;
        top: calc(50% - 6px);
        height: 11px;
        width: 6px;
        background-color: $light_gray;
        border-top: 3px solid $light_gray;
        border-bottom: 3px solid $light_gray;
    }

    .step-item-first,
    .step-item-middle {
         .step-body:after {
            left: 100%;
        }
    }

    .step-item-middle,
    .step-item-last {
         .step-body:before {
            right: 100%;
        }
    }
}

.stepbar-progress {

    @mixin step-status($step: "1", $status-color: #E4E4E7, $status-icon: '', $animate: false) {
        .step-item[data-step="#{$step}"] .step-body {
            background-color: $status-color;

            .glyphicon:before {
                content: $status-icon;

                @if $animate == true
                {
                    animation: active-spin 1s infinite;
                }
            }
        }
    }

    @mixin fill-step-progress($from-step, $to-step, $status-color: #E4E4E7) {
        .step-item[data-step="#{$from-step}"] .step-body:after,
        .step-item[data-step="#{$from-step}"]  + .step-item-progress .progress-body,
        .step-item[data-step="#{$to-step}"] .step-body:before{
            background-color: $status-color;
        }
    }

    /* Individual Steps */
    &[data-current-step="1"][data-step-status="pending"] {

        @include step-status('1', $status_pending, $glyphicon-pending);
    }

    &[data-current-step="1"][data-step-status="active"] {

        @include step-status('1', $status_active, $glyphicon-active, true);
    }

    &[data-current-step="1"][data-step-status="pass"] {

        @include step-status('1', $status_pass, $glyphicon-pass);
    }

    &[data-current-step="1"][data-step-status="fail"] {

        @include step-status('1', $status_fail, $glyphicon-fail);
    }

    /* Upto to Step 2 */
    &[data-current-step="2"][data-step-status="pending"] {
        @include step-status('1', $status_pending, $glyphicon-pass);
        @include step-status('2', $status_pending, $glyphicon-pending);
        @include fill-step-progress('1', '2', $status_pending);
    }

    &[data-current-step="2"][data-step-status="active"] {
        @include step-status('1', $status_active, $glyphicon-pass);
        @include step-status('2', $status_active, $glyphicon-active, true);
        @include fill-step-progress('1', '2', $status_active);
    }

    &[data-current-step="2"][data-step-status="pass"] {
        @include step-status('1', $status_pass, $glyphicon-pass);
        @include step-status('2', $status_pass, $glyphicon-pass);
        @include fill-step-progress('1', '2', $status_pass);
    }

    &[data-current-step="2"][data-step-status="fail"] {
        @include step-status('1', $status_fail, $glyphicon-pass);
        @include step-status('2', $status_fail, $glyphicon-fail);
        @include fill-step-progress('1', '2', $status_fail);
    }

     /* Upto to Step 3 */
    &[data-current-step="3"][data-step-status="pending"] {
        @include step-status('1', $status_pending, $glyphicon-pass);
        @include step-status('2', $status_pending, $glyphicon-pass);
        @include step-status('3', $status_pending, $glyphicon-pending);
        @include fill-step-progress('1', '2', $status_pending);
        @include fill-step-progress('2', '3', $status_pending);
    }

    &[data-current-step="3"][data-step-status="active"] {
        @include step-status('1', $status_active, $glyphicon-pass);
        @include step-status('2', $status_active, $glyphicon-pass);
        @include step-status('3', $status_active, $glyphicon-active, true);
        @include fill-step-progress('1', '2', $status_active);
        @include fill-step-progress('2', '3', $status_active);
    }

    &[data-current-step="3"][data-step-status="pass"] {
        @include step-status('1', $status_pass, $glyphicon-pass);
        @include step-status('2', $status_pass, $glyphicon-pass);
        @include step-status('3', $status_pass, $glyphicon-pass);
        @include fill-step-progress('1', '2', $status_pass);
        @include fill-step-progress('2', '3', $status_pass);
    }

    &[data-current-step="3"][data-step-status="fail"] {
        @include step-status('1', $status_fail, $glyphicon-pass);
        @include step-status('2', $status_fail, $glyphicon-pass);
        @include step-status('3', $status_fail, $glyphicon-fail);
        @include fill-step-progress('1', '2', $status_fail);
        @include fill-step-progress('2', '3', $status_fail);
    }
}
