/**
 * sivart-ci v0.1.0
 *
 * A simple interactive CI Dashboard built on MEAN stack.
 *
 * Author: Kushal Pandya <kushalspandya@gmail.com> (https://doublslash.com)
 * Date: 28 November, 2015
 *
 * Step Bar Progress Bar for Bootstrap (http://bootsnipp.com/snippets/gjm35).
 */

@import "compass";
@import "compass/css3";
@import "../util/Mixins";
@import "../util/Colors";

$glyphicon-pending: "\e234";
$glyphicon-active: "\e031";
$glyphicon-pass: "\e013";
$glyphicon-fail: "\e101";

@keyframes active-spin {
    0% {transform: rotate(0deg);}
    10% {transform: rotate(36deg);}
    20% {transform: rotate(72deg);}
    30% {transform: rotate(108deg);}
    40% {transform: rotate(144deg);}
    50% {transform: rotate(180deg);}
    60% {transform: rotate(216deg);}
    70% {transform: rotate(252deg);}
    80% {transform: rotate(288deg);}
    90% {transform: rotate(324deg);}
    100% {transform: rotate(360deg);}
}

.step-bar-progress {
    width: 100%;
    height: 100%;
}

.progress-steps {
    list-style: none;
    margin-bottom: 0;
    padding: 0;

    @include clearfix;

    .step-item {
        position: relative;
        display: inline-block;
        float: left;

        .step-icon {
            position: absolute;
            left: 0;
            right: 0;
            margin: 9px auto !important;
            color: white;
        }

        &:before {
            content: " ";
            display: inline-block;
            height: 32px;
            width: 32px;
            background-color: $light_gray;
            border: 5px solid $light_gray;

            z-index: 100;
            @include border-radius(50%);
        }

        &.step-first,
        &.step-middle {
            margin-right: 30%;

            &:after {
                content: " ";
                position: absolute;
                display: inline-block;
                top: 30%;
                left: 85%;
                width: 410%;
                height: 11px;
                background-color: $light_gray;
                border-top: 3px solid $light_gray;
                border-bottom: 3px solid $light_gray;

                background-image: -webkit-linear-gradient(
                                    -45deg,
                                    rgba(255, 255, 255, 0.2) 0%, transparent 5%,
                                    rgba(255, 255, 255, 0.2) 10%, transparent 15%,
                                    rgba(255, 255, 255, 0.2) 20%, transparent 25%,
                                    rgba(255, 255, 255, 0.2) 30%, transparent 35%,
                                    rgba(255, 255, 255, 0.2) 40%, transparent 45%,
                                    rgba(255, 255, 255, 0.2) 50%, transparent 55%,
                                    rgba(255, 255, 255, 0.2) 60%, transparent 65%,
                                    rgba(255, 255, 255, 0.2) 70%, transparent 75%,
                                    rgba(255, 255, 255, 0.2) 80%, transparent 85%,
                                    rgba(255, 255, 255, 0.2) 90%, transparent 95%,
                                    rgba(255, 255, 255, 0.2) 100%
                                  );

                background-image: -moz-linear-gradient(
                                    -45deg,
                                    rgba(255, 255, 255, 0.2) 0%, transparent 5%,
                                    rgba(255, 255, 255, 0.2) 10%, transparent 15%,
                                    rgba(255, 255, 255, 0.2) 20%, transparent 25%,
                                    rgba(255, 255, 255, 0.2) 30%, transparent 35%,
                                    rgba(255, 255, 255, 0.2) 40%, transparent 45%,
                                    rgba(255, 255, 255, 0.2) 50%, transparent 55%,
                                    rgba(255, 255, 255, 0.2) 60%, transparent 65%,
                                    rgba(255, 255, 255, 0.2) 70%, transparent 75%,
                                    rgba(255, 255, 255, 0.2) 80%, transparent 85%,
                                    rgba(255, 255, 255, 0.2) 90%, transparent 95%,
                                    rgba(255, 255, 255, 0.2) 100%
                                  );

                background-image: -ms-linear-gradient(
                                    -45deg,
                                    rgba(255, 255, 255, 0.2) 0%, transparent 5%,
                                    rgba(255, 255, 255, 0.2) 10%, transparent 15%,
                                    rgba(255, 255, 255, 0.2) 20%, transparent 25%,
                                    rgba(255, 255, 255, 0.2) 30%, transparent 35%,
                                    rgba(255, 255, 255, 0.2) 40%, transparent 45%,
                                    rgba(255, 255, 255, 0.2) 50%, transparent 55%,
                                    rgba(255, 255, 255, 0.2) 60%, transparent 65%,
                                    rgba(255, 255, 255, 0.2) 70%, transparent 75%,
                                    rgba(255, 255, 255, 0.2) 80%, transparent 85%,
                                    rgba(255, 255, 255, 0.2) 90%, transparent 95%,
                                    rgba(255, 255, 255, 0.2) 100%
                                  );

                background-image: -o-linear-gradient(
                                    -45deg,
                                    rgba(255, 255, 255, 0.2) 0%, transparent 5%,
                                    rgba(255, 255, 255, 0.2) 10%, transparent 15%,
                                    rgba(255, 255, 255, 0.2) 20%, transparent 25%,
                                    rgba(255, 255, 255, 0.2) 30%, transparent 35%,
                                    rgba(255, 255, 255, 0.2) 40%, transparent 45%,
                                    rgba(255, 255, 255, 0.2) 50%, transparent 55%,
                                    rgba(255, 255, 255, 0.2) 60%, transparent 65%,
                                    rgba(255, 255, 255, 0.2) 70%, transparent 75%,
                                    rgba(255, 255, 255, 0.2) 80%, transparent 85%,
                                    rgba(255, 255, 255, 0.2) 90%, transparent 95%,
                                    rgba(255, 255, 255, 0.2) 100%
                                  );

                background-image: linear-gradient(
                                    -45deg,
                                    rgba(255, 255, 255, 0.2) 0%, transparent 5%,
                                    rgba(255, 255, 255, 0.2) 10%, transparent 15%,
                                    rgba(255, 255, 255, 0.2) 20%, transparent 25%,
                                    rgba(255, 255, 255, 0.2) 30%, transparent 35%,
                                    rgba(255, 255, 255, 0.2) 40%, transparent 45%,
                                    rgba(255, 255, 255, 0.2) 50%, transparent 55%,
                                    rgba(255, 255, 255, 0.2) 60%, transparent 65%,
                                    rgba(255, 255, 255, 0.2) 70%, transparent 75%,
                                    rgba(255, 255, 255, 0.2) 80%, transparent 85%,
                                    rgba(255, 255, 255, 0.2) 90%, transparent 95%,
                                    rgba(255, 255, 255, 0.2) 100%
                                  );

                @include transition(all, 1s, ease);
                z-index: 200;
            }
        }

        &.step-pending {

            &:before {
                background-color: $status_pending;
            }
        }

        .step-icon-pending:before {
            content: $glyphicon-pending;
        }

        &.step-active {

            &:before {
                background-color: $status_active;
            }
        }

        .step-icon-active:before {
            animation: active-spin 1s infinite;
            content: $glyphicon-active;
        }

        &.step-fail {

            &:before {
                background-color: $status_fail;
            }
        }

        .step-icon-fail:before {
            content: $glyphicon-fail;
        }

        &.step-pass {

            &:before {
                background-color: $status_pass;
            }
        }

        .step-icon-pass:before {
            content: $glyphicon-pass;
        }

        &.fill-step-progress {

            &.step-fail {
                &:after {
                    background-color: $status_fail;
                }
            }

            &.step-pass {
                &:after {
                    background-color: $status_pass;
                }
            }

            &.step-active {

                &:after {
                    background-color: $status_active;
                }
            }
        }
    }
}
